body{
  background-color: rgb(239, 246, 250);
}
nav {  
  box-shadow: 0px 5px 2px 0px rgba(0,0,0,0.5);
  border-radius: 10px;
  background: white;
  display: flex;
  justify-content: end;
  gap: 20px;
}
a {
  color: rgb(141, 161, 187);
  border-radius: 10px;
  font-size: 26px;
  text-decoration: none;
  padding: 10px;
}
a:hover {
  color: white;
  background-color: rgb(70, 122, 170);
}
input {
  background-color: darkgray;
  border-radius: 15px;
  border-color: transparent;
  font-size: 26px;
  padding: 5px;
}
input[type="text"]{
  height: 40px;
  margin-bottom: 10px;
  text-align: center;
}
input[type="button"]{  
  width: 50px;
  height:50px;
  margin: 5px;
}
input[type="button"]:hover{  
  background-color: rgb(102, 101, 101);
  color: white;
  cursor: pointer;
}
ul{
  list-style-type: none;
  font-size: 26px;
  padding: 0;
}
.center{
  position: relative;
  padding: 20px;
  
}
.current{
  margin-bottom: 20px;
}
.header-img{
  align-self: center;
  align-items: center;
  align-content: center;
  text-align: center;
  padding-left: 27%;
}
.circle{  
  border-radius: 100%;
  background-color: darkcyan;
  color: white;
  width: 100px;
  height: 100px;
  font-size: 50px;
  text-align: center;
  padding: 10px 5px 5px 5px;
  margin-bottom: -45px;
  z-index: -1;
}
.weather-card{
  background-color: darkcyan;
  border-radius: 15px;
  color: white;
  font-size: 26px;
  width: max-content;
  height: fit-content;
  text-align: center;
  padding: 10px;
}
.card{
  border-radius: 20px;
  padding: 20px;
}
.card-header{
  font-size: 50px;
  font-weight: bold;
  background-color: rgb(215, 251, 253);
  border-radius: 20px 20px 0px 0px;
  padding: 20px;
}
.card-body{
  background-color: white;
  border-radius: 20px;  
  box-shadow: 15px 14px 2px -7px rgba(0,0,0,0.6);
  padding-bottom: 20px;
}
.display{
  box-shadow: 15px 14px 2px -7px rgba(0,0,0,0.6);
  background-color: lightgray;
  border-radius: 20px;  
  text-align: center;
  height: fit-content;
  width: fit-content;
  padding: 10px;
}
.float-container{
  display: flex;
}
.space-even{
  justify-content: space-evenly;
}
.overflow{
  overflow-y: auto;
  gap:40px;
}
.mg-top{
  margin-top: 5%;
}
.App {
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
